@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../assets/opensansnormal.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../assets/opensansbold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    width: 1920px;
    height: 1080px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    overflow: hidden;
}

body .clearfix {
    clear: both;
}

body>.container {
    background-image: url("../gfx/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1880px;
    height: 1040px;
    padding: 20px;
}

body>.container>header>section.video {
    position: relative;
    float: left;
    width: 1260px;
    height: 709px;
}

body>.container>header>section.video.fullscreen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

body>.container>header>aside {
    float: right;
    width: 600px;
    height: 709px;
}

body>.container>header>aside>section {
    width: 600px;
    margin-bottom: 20px;
}

body>.container>header>aside>section:last-of-type {
    margin-bottom: 0px;
}

body>.container>footer {
    margin-top: 20px;
}

body>.container>footer>section {
    float: left;
    margin-right: 20px;
    width: 620px;
    height: 310px;
}

body>.container>footer>section:last-of-type {
    margin: 0;
    width: 600px;
}

hr {
    clear: both;
    border: none;
    border-top: 1px solid #929ba8;
    padding: 0;
    margin: 0;
}

div.fvideo {
    position: absolute;
    height: 100%;
    width: 100%;
}

div.fvideo canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}

div.foverlay {
    display: none;
    position: absolute;
    background: none;
    border: none;
    display: none;
    width: 100%;
    height: 50px;
    top: 304px;
    left: 0px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    text-transform: uppercase;
}

div.finfo {
    height: 153px;
}

div.finfo h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 20px;
}

div.finfo aside {
    float: right;
    padding: 20px;
}

div.finfo aside time {
    color: #fb6362;
}

div.finfo aside time:last-of-type {
    color: #ffffff;
}

div.finfo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

div.finfo li {
    flex-grow: 1;
    color: #fb6362;
    text-transform: uppercase;
}

div.finfo li b {
    font-weight: bold;
    color: #ffffff;
}

div.fdata {
    height: 218px;
}

div.fdata ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

div.fdata li {
    flex-grow: 1;
    color: #fb6362;
    padding: 0px 10px 0px 10px;
    text-transform: uppercase;
}

div.fdata li b {
    font-weight: bold;
    color: #ffffff;
}

div.fcontrols {
    height: 290px;
}

div.fcontrols .buttonarray {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 250px;
}

div.fcontrols .buttonarray button {
    flex-grow: 1;
    width: 30%;
    background: #fb6362;
    border: 0px;
    margin: 5px;
    font-size: 15px;
    display: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

div.fcontrols .buttonarray button.selected {
    background-color: #51861d;
    color: #ffffff;
}

div.fcontrols .buttonarray button:hover {
    background-color: #ffffff;
    color: #fb6362;
}

div.fcontrols .buttonarray button:active {
    background-color: #fb6362;
    color: #ffffff;
}

div.fcontrols .buttonarray button:nth-child(-n+12) {
    display: block;
}

div.fcontrols .buttonarray.nextRow button:nth-child(-n+12) {
    display: none;
}

div.fcontrols .buttonarray.nextRow button:nth-child(n+13) {
    display: block;
}

div.flog h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 20px;
}

div.flog button {
    border: 1px solid #fff;
    color: #ffffff;
    background: none;
    border-radius: 3px;
    padding: 10px 5px 10px 5px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    height: 38px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

div.flog button:hover {
    background-color: #fff;
    color: #fb6362;
    cursor: pointer;
}

div.flog button:active {
    background-color: #fb6362;
    color: #ffffff;
    cursor: pointer;
}

div.flog div {
    margin: 20px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.flog div table {
    font-size: 12px;
    text-transform: uppercase;
}

div.flog div table tr th {
    text-align: left;
    color: #fb6362;
    width: 140px;
}

div.flog div table tr td {
    padding-bottom: 10px;
    line-height: 15px;
}

div.fvitals {
    border: none;
    background: none;
}

div.fvitals .compass {
    border: 2px solid #929ba8;
    height: 30px;
    width: 100%;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c5879), color-stop(1, #11192b));
}

div.fvitals .compass .rose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.fvitals .compass .rose canvas {
    width: 100%;
    height: 30px;
}

div.fvitals .compass .heading {
    width: 40px;
    height: 34px;
    text-align: center;
    background-color: #fb6362;
    font-weight: bold;
    font-size: 19px;
    line-height: 32px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -20px;
    margin-top: -3px;
    border: 1px solid #fff;
}

div.fvitals .accelerometer {
    position: relative;
    border: 2px solid #929ba8;
    width: 100%;
    height: 114px;
    margin-top: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c5879), color-stop(1, #11192b));
}

div.fvitals .accelerometer canvas {
    width: 100%;
    height: 114px;
}

div.fvitals .scale {
    position: relative;
    border: 2px solid #929ba8;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    background-color: #2d3c5a;
    background-image: url(../gfx/scale_gradient.png);
    background-position-x: -156px;
    background-repeat: no-repeat;
}

div.fvitals .scale p,
div.fvitals .scale b {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    padding: 6px 20px 0px 20px;
    color: #ffffff;
}

div.fvitals .scale b {
    color: #fb6362;
    left: auto;
    right: 0;
}

div.fvitals .scale hr {
    width: 0px;
    height: 100%;
    position: absolute;
    border: none;
    border-right: 2px solid #fb6362;
    left: 0px;
    top: 0px;
}

.fdatagraphics canvas {
    width: 100%;
    height: 100%;
}

.field {
    border: 2px solid #929ba8;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c5879), color-stop(1, #11192b));
}

div.container div.msgbox-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

div.container div.msgbox {
    width: 800px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    z-index: 10000;
    box-shadow: 0 0 30px 10px #000;
    border: 2px solid #929ba8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c5879), color-stop(1, #11192b));
    display: none;
}

div.container div.msgbox h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 760px;
}

div.container div.msgbox div {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}

div.container div.msgbox button {
    width: 25%;
    height: 50px;
    background: #fb6362;
    border: 0px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

div.container div.msgbox button:first-child {}

div.container div.msgbox button:last-child {}

div.container div.msgbox button:hover {
    background-color: #ffffff;
    color: #fb6362;
}

div.container div.msgbox button:active {
    background-color: #fb6362;
    color: #ffffff;
}

div.container div.msgbox input {
    width: 80%;
    height: 30px;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
}